
$rightPos: calc( (100vw - 1170px) / 2 );

.application {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right $rightPos center;

  @include r($sm) {
      background-position: center;
  }

  // @include r($md) {
  //   background-position: right auto center;
  // }

  &__content {
    max-width: 470px;
    padding: 40px 0;
    background-color: rgba($c-white, 0.85);

    @include r($sm) {
      margin: 0 auto;
      padding: 40px;
    }
  }

  &__title {
    margin-bottom: size(45, 15);
    text-align: left;
  }

  &__info {

    p {
      margin: 0;
    }
    font-size: size(20, 14);
    line-height: 1.5;
    margin-bottom: size(30, 15);

  }

  &__list {
    display: flex;
    gap: 30px;
  }
}

.app-icon {
  display: block;
  width: 120px;
  height: 40px;
  background-image: url('../../images/app_store.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  &--google {
    width: 135px;
    background-image: url('../../images/play_store.png');
  }
}

