
$leftPos: calc( (100vw - 1032px) / 2 );

.features {
  // min-height: 440px;
  // background-repeat: no-repeat;
  // background-size: contain;
  // background-position: left $leftPos center;
  min-height: 585px;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left $leftPos center;
}

.popular-content {
  max-width: 470px;
  margin-left: auto;
  margin-right: 70px;
  // text-align: left;

  p {
    font-size: 18px;
    line-height: 1.5;
  }

  .features__title {
  margin: 0 0 30px 0;
  text-align: left;
  line-height: 1.4;
  letter-spacing: 0;
  }

	&__list {
    margin-bottom: 30px;
	}

	&__item {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 30px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    p{
      font-size: 24px;
      margin: 0;
    }
	}
}
