
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: $c-white;
  padding: size(60, 14) 0;
  border-bottom: 3px solid transparent;
  transition: padding 0.3s ease-in-out, border-color 0.3s ease-in-out;
  
  &.sticky {
    border-color: $c-orange-900;
    padding: 15px 0;
  }

  &::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($c-dark, 0.5);
    opacity: 0;
    visibility: hidden;
    z-index: -100;
    transition: opacity 0.3s ease-in-out;
  }

  @at-root .lock {
    overflow: hidden;
  
    .header {
      &::before {
        @include r($size-md) {
          opacity: 1;
          visibility: visible;
          z-index: 10;
        }
      }
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 50px;
    // position: relative;
  }

  &__menu {
    @include r($size-md) {
      display: none;
    }
  }

  &__logo {
    @include r($size-xs) {
      width: 115px;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 10px;

    @include r($size-md) {
      margin-left: auto;
    }
  }

  &__btn {
    &:hover {
      .btn-counter {
        color: $c-orange-900;
        background-color: $c-white;
      }
    }

    &:active {
      .btn-counter {
        color: $c-white;
        background-color: $c-orange-900;
      }
    }
  }
}



// .mobile-menu {
//   transform: translateY(200%);
//   display: flex;
//   flex-direction: column;
//   background-color: #fff;
//   position: absolute;
//   top: 0px;
//   left: 0;
//   padding: 0 15px;

//   &__head {
//     padding: 25px 0;
//     margin-bottom: 25px;
//     display: flex;
//     justify-content: space-between;
//   }

//   &__list {
//     margin-bottom: 40px;
//   }

//   &__item {
//     &:not(:last-child) {
//       margin-bottom: 20px;
//     }
//   }
// }


