
.mobile-nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 999;
  width: 300px;
  background-color: $c-white;
  opacity: 0;
  transform: translateY(-200%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

  @include r($size-md) {
    display: block;
  }

  &.open {
    opacity: 1;
    transform: translateY(0);
  }

  &__head {
    padding: 25px 15px;
    display: flex;
    justify-content: space-between;
  }

  &__menu {
    padding: 25px 15px;
    border: {
      top: 1px solid $c-gray;
      bottom: 1px solid $c-gray;
    }
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  &__contacts__padding {
    padding: 15px;
  }

  .social {
    &__padding {
      padding: 0 15px;
    }
  }
}

.burger {
  display: none;

  @include r($size-md) {
    display: flex;
  }

  min-width: 44px;
  height: 44;

  &::before {
    min-width: 30px;
    height: 30px;
  }

  &:hover,
  &:focus,
  &:active {
    &::before {
      background-color: $c-darkBlue-900;
    }
  }

}

