
.testimonials {

  &-content {
    max-width: 990px;
    margin: 0 90px;
    display: flex;
    align-items: center;
  }

  &-left {
    margin-right: 78px;
  }

  &-right {
    max-width: 570px;

		&__review {
      margin: 0 0 30px 0;
      position: relative;
      font-size: 20px;
      line-height: 1.5;

      &::after {
        content: '';
        position: absolute;
        background-image: url('../../images/sprite.svg#icon-quote-open');
        color: $c-orange-900;
        width: 24px;
        height: 19px;
        top: 0;
        left: -35px;
        background-repeat: no-repeat;
        filter: invert(72%) sepia(57%) saturate(1%) hue-rotate(314deg) brightness(92%) contrast(111%);
      }

      &::before {
        content: '';
        position: absolute;
        background-image: url('../../images/sprite.svg#icon-quote-close');
        color: $c-orange-900;
        width: 24px;
        height: 19px;
        bottom: 0;
        right: -39px;
        background-repeat: no-repeat;
        filter: invert(72%) sepia(57%) saturate(1%) hue-rotate(314deg) brightness(92%) contrast(111%);
      }

		}

		&__name {
      margin: 0 0 15px 0;
      font-size: 20px;
      color: $c-orange-900;
		}

		&__decription {
      margin: 0;
      font-size: 14px;
		}
}
}
